*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenitore{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

header{
    background-color: rgb(37, 94, 233);
    min-height: 80px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section{
    background-image: url(img/jumbo.png);
    background-size: 2543px 560px;
    
}

.section > .contenitore{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.col-grande{
    min-height: 400px;
    padding: 20px;
    flex-basis: 700px;
    text-align: center;
}

.card > .contenitore{
    display: flex;
    padding: 30px;
}

.card.grey{
    background-color: grey;
}

.main{
    min-height: 300px;
    background-color: cyan;
    padding: 20px;
    flex-basis: 600px;
}

.aside{
    min-height: 300px;
    background-color: rosybrown;
    padding: 20px;
    flex-grow: 1;
}


.section1 {
    background-color: black;
    padding: 30px;
    border-bottom: 2px solid white;
}


.col1{
    border: 2px solid black;
    padding: 15px;
    min-height: 500px;
    background-color: aqua;
}

.row1{
    display: flex;
}

.row-col-5 > .col1{
    flex-basis: calc(100%/5);
}

.row-col-5 > .col2{
    flex-basis: 30%;
    background-color: pink;
}

.footer{
    background-color: black;
    padding: 30px;
}

.row2{
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 10px 0;
}

.col-foot{
    background-color: palevioletred;
    padding: 5px;
}


/**************************/

ul li{
    list-style-type: none;
}

.nav{
    display: flex;
    color: white;
}

.nav > li{
    padding: 15px;
}

.accedi{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.titolo{
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    color: white;
}

.paragrafo{
    font-size: 20px;
    color: white;
    padding: 5px;
}

.button{
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    font-size: 17px;
}

.button.white{
    border-color: white;
    background-color: white;
}

.button.black{
    background-color: rgb(35, 39, 42);
    border-color: rgb(35, 39, 42);
    color: white;
}